#cu-loan-calculator fieldset {
     border: 0;
}

#cu-loan-calculator #prettydropdown-loan-menu, #cu-loan-calculator #prettydropdown-loan-menu ul, #cu-loan-calculator #prettydropdown-loan-menu ul li{
     width: 100%!important;
}

#cu-loan-calculator #prettydropdown-loan-menu ul{
     border: 1px solid #eee;
}

 #cu-loan-calculator label {
     display: block;
     margin: 30px 0 0 0;
}
 #cu-loan-calculator .hidden {
     display: none;
}
 #cu-loan-calculator div[class*='loan-select-']{
     padding: 30px 25px 0px;
}
 #cu-loan-calculator div[class*='loan-select-'] p{
     margin-top: 15px;
}
 #cu-loan-calculator #loan-amount-slider, #cu-loan-calculator #loan-term-slider{
     margin-bottom: 50px;
}
 #cu-loan-calculator #representitive-example{
     background-color: #eee;
     margin: 50px -25px 0;
     padding: 25px;
}
 #cu-loan-calculator #representitive-example p{
     font-weight: bold;
     margin-top: 10px;
}
 #cu-loan-calculator .slider-label{
     float: right;
}
 #cu-loan-calculator input:disabled{
    display: none;
}
#cu-loan-calculator .mobile-controls{
     display: none;
     margin: 15px 0 0;
     padding: 30px 0 20px;
     position: relative;
}

#cu-loan-calculator .mobile-controls .minus, #cu-loan-calculator .mobile-controls .plus {
     border: 1px solid #aaa;
     -webkit-border-radius: 50%; 
     -moz-border-radius: 50%;
     border-radius: 50%;
     font-weight: bold;
     cursor: pointer;
}

#cu-loan-calculator .mobile-controls .minus:hover, #cu-loan-calculator .mobile-controls .plus:hover{
     background-color: #eee;
}

@media(max-width: 1024px){
     #cu-loan-calculator .mobile-controls{
          display: block;
     }  

     #cu-loan-calculator .mobile-controls .minus, #cu-loan-calculator .mobile-controls .plus{
          display: inline;
     }

     #cu-loan-calculator .mobile-controls .minus{
          position: absolute;
          top: 0;
          left: 0;
          padding: 0px 15px;
          font-size: 28px;
     }

     #cu-loan-calculator .mobile-controls .plus{
          position: absolute;
          top: 0;
          right: 0;
          padding: 6px 15px;
          font-size: 20px;
     }
}
